@font-face {
    font-family: 'varela';
    src: url('../fontes/VarelaRound-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'open sans';
    src: url('../fontes/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
}

:root {
    --cor1: #FFFFFF;
    --cor2: #F2F2F2;
    --cor3: #AACEFB;
    --cor4: #00106b;
    --cor5: #001645;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor3);
}

header {
    font-family: 'open sans';
}

nav {
    background-color: var(--cor5);
    color: var(--cor2);
}

nav#marca {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav#marca > h1 {
    font-size: 1.7em;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

nav#menu {
    margin: 0px;
}


/*====Conteúdo principal=====*/
main {
    max-width: 850px;
    min-width: 200px;
    background-color: var(--cor1);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 0px 7px #3c729e7a;
}

main h1 {
    font-family: 'varela', sans-serif;
    font-weight: lighter;
    font-size: 2.0em;
    line-height: 2.5;
    color: var(--cor4);
    margin-left: 15px;
}

main h2 {
    font-family: 'varela', sans-serif;
    font-weight: 200;
    font-size: 1.6em;
    line-height: 2.5;
    color: var(--cor4);
    margin-left: 15px;
}

main h3 {
    font-family: 'varela';
    color: var(--cor2);
    margin: 15px;
    display: inline-block;
}

div.bloco-texto {
    background-color: var(--cor2);
    margin: 15px;
    padding: 12px;
    border-radius: 5px;
    font-size: clamp(0.4em, 0.5em + 2.6vw, 1.2em);
    font-family: 'varela', sans-serif;
    font-weight: lighter;
    text-indent: 30px;
    text-align: justify;
    line-height: 1.7em;
}

/* ====SETOR IMGs===*/

div.fix-img {
    /*Fixa o img de acordo com as margens de texto*/
    margin: 15px;
}

img.foto-cont {
    width: 100%;
    height: 200px;
    margin: auto;
    display: block;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
}

img#icone-video {
    width: 16%;
    min-width: none;
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
    margin-right: 5px;
}

img#poster {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: bottom;
}

#globo{
    width: 60px;
}

/*====FIM IMGs===*/

ul {
    list-style-position: inside;
    columns: 2;
}

/* Box do vídeo externo*/
div#box-titulo {
    background-color: var(--cor4);
    padding: 7px;
    display: flex;
    margin-top: 20px;
}

div#box-titulo > h3 {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    font-size: clamp(0.5em, 1em + 2vw, 5em);
}

div#box-video {
    background-color: var(--cor4);
    padding: 10px;
    padding-bottom: 56%;
    position: relative;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 20px;
}

div#box-video > iframe {
    position: absolute;
    top: 3%;
    left: 5%;
    width: 89%;
    height: 87.5%;
    border-radius: 5px;
}